body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
    background-color: #4285f4;
    border-radius: 5px;
    color: white;
}

h1 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

.country-selector {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#country-input {
    width: 100%;
}

#remove-btn {
    cursor: pointer;
    margin-left: 5px;
}

.autocomplete-items {
    width: 100%;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    position: absolute;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    top: 100%; /* Position the autocomplete list below the input field */
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

.autocomplete-item:hover {
    background-color: #e0e0e0;
}

/* New styles for alternatives list */
.alternatives-list {
    margin-top: 15px;
}

.alternatives-list h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
}

.alternatives-list ul {
    padding-left: 15px;
    margin-top: 5px;
    list-style-type: disc;
}

.alternatives-list li {
    margin-bottom: 8px;
}

.alternatives-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.alternatives-list a:hover {
    text-decoration: underline;
}

.alt-url {
    color: #e0e0e0;
    font-size: 12px;
    margin-left: 5px;
}